.contact-us {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    .contact-us__col-left {
        margin-top: 45px; 
        .contact-us__main-text {
            h2 {
                font-size: 30px;
                margin-bottom: -5px;
            }
            p {
                width: 80%;
                font-size: 18px;
            }
        }
        .contact-us__info {
            margin: 10px 20px;
            .contact-us__adress-container {
                display: flex;
                margin: 10px 0;
                .contact-us__adress-img {
                    img {
                        margin-top: 20px;
                    }
                }
                .contact-us__adress-info {
                    margin-left: 15px;
                    .contact-us__info-header {
                        font-size: 20px;
                        margin-bottom: -5px;
                    }
                }
            }
            .contact-us__queries-container {
                display: flex;
                margin: 10px 0;
                .contact-us__queries-img {
                    img {
                        margin-top: 20px;
                    }
                }
                .contact-us__queries-info {
                    margin-left: 15px;
                    .contact-us__info-header {
                        font-size: 20px;
                        margin-bottom: -5px;
                    }
                }
            }
            .contact-us__email-container {
                display: flex;
                margin: 10px 0;
                .contact-us__email-img {
                    .contact-us__img--bigger {
                        margin-top: 20px;
                        width: 70%;
                    }
                }
                .contact-us__email-info {
                    .contact-us__info-header {
                        font-size: 20px;
                        margin-bottom: -5px;
                    }
                }
            }
            .contact-us__img {
                width: 1.2rem;
            }
        }
    }
}
