.our-services__container {
    border: 1px solid red;
    .our-services__top {
        text-align: center;
        p {
            border: 1px solid black;
            margin: auto;
            width: 40%;
        }
    }
}