.our-services__container {
    .our-services__top {
        text-align: center;
        h2 {
            font-family: "Josefin Sans", sans-serif;
            font-size: 3rem;
        }
        p {
            margin: auto;
            width: 60%;
            font-size: 1.2em;
        }
    }

    .our-services__categories {
        display: flex;
        justify-content: space-evenly;
    }
}