 .navbar__navigation {
     display: flex;
     height: auto;
    .navbar__logo {
        margin-left: 5%;
        width: 10%;
        .navbar__img {
            margin-top: 15px;
            width: 100%;
        }
    }
    .navbar__navigation-links-container {
        margin: auto;
        .navbar__links {
            margin-left: 100px;
            font-size: 1.3rem;
            text-decoration: none;
            color: black;
            &:hover {
                color: #47AEE1;
            }
        }
    }
}
