.about-us {
    .about-us__container {
        width: 80%;
        margin: 0 auto;
        padding: 50px 0;
        height: 75vh;
        .about-us__top {
            text-align: center;
            margin: auto;
            width: 30%;
        }
        .about-us__bottom {
            display: flex;
            padding: 80px 0;
            justify-content: center;
            align-items: center;
            margin: auto;
            max-width: 80%;
            .about-us__img {
                min-width: 500px;
                margin-right: 10%;
            }
            .about-us__main-text {
                min-width: 350px;
                margin-right: 50px;
                line-height: 30px;
                a {
                    color: #47AEE1;
                    text-decoration: none;
                    font-weight: 700;
                }
            }
        }
    }
}



